@import '../../../../styles/';

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  > h2 {
    @include font-base($color-white, 600, 18px, 21.48px);
    display: flex;
    flex-grow: 3;
    justify-content: center;
  }
  > .backButton {
    flex-grow: 0;
    justify-content: flex-start;
    cursor: pointer;
  }
}
