@import '../../../styles/';

.container {
  margin-inline: 9px;
}

.title {
  margin-block: 32px;
  margin-left: 80px;

  @include font-base($color-white, 700, 24px, 26px);
}

.loading {
  margin-top: 30px;
  text-align: center;

  @include font-base($color-white, 600, 20px, 26px);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  text-align: center;
  white-space: pre-wrap;

  h3 {
    margin-top: 40px;
    @include font-base($color-brand-orange, 600, 18px, 26px);
  }

  p {
    @include font-base($color-white, 600, 16px, 26px);
  }
}

@media (max-width: $width-tablet) {
  .container {
    margin-inline: 24px;
  }
  .title {
    margin-block: 24px;
    margin-left: 12px;

    @include font-base($color-white, 700, 20px, 26px);
  }
}

@media (max-width: $width-mobile) {
  .title {
    margin-block: 16px;
    margin-left: 8px;

    @include font-base($color-white, 700, 16px, 26px);
  }
}
