@import '../../styles/';

$lg-size: 128px;
$bg-size: 100px;
$md-size: 98px;
$sm-size: 70px;

.profile {
  border-radius: 50%;
  border: 1.31px solid $color-brand-orange;

  position: relative;

  cursor: pointer;

  &.lg {
    width: $lg-size;
    height: $lg-size;
  }

  &.bg {
    width: $bg-size;
    height: $bg-size;
  }

  &.md {
    width: $md-size;
    height: $md-size;
  }

  &.sm {
    width: $sm-size;
    height: $sm-size;
  }
}

.image,
.clicked {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;

  inset: 0;
  margin: auto;

  &.lg {
    width: $lg-size - 10;
    height: $lg-size - 10;
  }

  &.bg {
    width: $bg-size - 10;
    height: $bg-size - 10;
  }

  &.md {
    width: $md-size - 10;
    height: $md-size - 10;
  }

  &.sm {
    width: $sm-size - 10;
    height: $sm-size - 10;
  }
}

.clicked {
  z-index: 1;
  background: linear-gradient(
    271.36deg,
    $color-brand-orange -9.84%,
    $color-brand-pink 107.18%
  );
  opacity: 50%;
}

.check {
  position: absolute;
  z-index: 2;

  inset: 0;
  margin: auto;

  &.md {
    width: 27px;
    height: 20px;
  }
}

.selected {
  position: absolute;
  z-index: 3;
  top: 1px;
  right: -4px;

  &.sm {
    width: 22px;
    height: 22px;
  }
}
