$titleColor: #f7f7f8;

@mixin font-color($color, $weight, $size, $lineHeight) {
  font: {
    family: Pretendard;
    weight: $weight;
    size: $size;
  }
  line-height: $lineHeight;
  color: $color;
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  > h2 {
    @include font-color($titleColor, 600, 18px, 21.48px);
  }
  > .headerCloseButton {
    cursor: pointer;
  }
  &.titleActive {
    justify-content: space-between;
  }
}
