@import '../../../../styles/';

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  > h2 {
    @include font-base($color-white, 600, 18px, 21.48px);
  }
  > .closeButton {
    cursor: pointer;
  }
  &.titleActive {
    justify-content: space-between;
  }
}
