@import '../../../../styles/';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin set-flex-column {
  display: flex;
  flex-direction: column;
}

@mixin set-flex-column-gap($row-gap, $column-gap) {
  @include set-flex-column;
  gap: $row-gap $column-gap;
}

@mixin set-flex-column-center-gap($row-gap, $column-gap) {
  @include set-flex-column-gap($row-gap, $column-gap);
  justify-content: center;
  align-items: center;
}

.title {
  margin-block: 32px;
  margin-left: 80px;

  @include font-base($color-white, 700, 24px, 26px);
}

.list_box {
  > button {
    @include flex-center();
    width: 255px;
    height: 48px;

    margin: 20px auto;
  }
}

.idol_info {
  @include set-flex-column-center-gap(0, 0);
  > h2 {
    @include font-base($color-white-200, 700, 16px, 26px);
  }
  > h3 {
    max-width: fit-content;

    @include font-base($color-white, 400, 13px, 16.71px);

    text-align: center;
    word-wrap: break-word;

    opacity: 0.6;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 401px;
}

.idol_item {
  @include set-flex-column-center-gap(0, 0);

  padding-block: 10px;
}

@media (max-width: $width-tablet) {
  .title {
    margin-block: 24px;
    margin-left: 24px;

    @include font-base($color-white, 700, 20px, 26px);
  }

  .loading {
    height: 355px;
  }
}

@media (max-width: $width-mobile) {
  .title {
    margin-block: 16px;
    margin-left: 16px;

    @include font-base($color-white, 700, 16px, 26px);
  }

  .idol_item {
    max-width: 98px;
  }

  .loading {
    height: 305px;
  }
}
