$color-black-100: #181d26;
$color-black-200: #02000e;

$color-gray-cool-100: #a3a5a8;
$color-gray-cool-200: #8c92ab;
$color-gray-cool-300: #67666e;
$color-gray-warm: #828282;

$color-white: #ffffff;
$color-white-100: #f6f6f8;
$color-white-150: #f7f7f8;
$color-white-200: #f4efef;

$color-brand-orange: #f96d69;
$color-brand-pink: #fe5493;

$color-white-10-percent: #FFFFFF1A;
