@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

$font-family: 'Pretendard' !important;
$font-style: normal !important;

@mixin font-default {
  font-family: $font-family;
  font-style: $font-style;
}

@mixin font-weight-size($weight, $size: null) {
  font-weight: $weight;
  font-size: $size;
}
@mixin font-line_height-letter_spacing(
  $line-height: null,
  $letter-spacing: null
) {
  @if $line-height {
    line-height: $line-height !important;
  }
  @if $letter-spacing {
    letter-spacing: $letter-spacing !important;
  }
}
