@import '../../../styles/';
$color-credit-border: #f1eef9;

.container {
  border-radius: 8px;
  border: 1px solid $color-credit-border;
  opacity: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 131px;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding-inline: 64px;
}

.credit {
  display: flex;
  flex-direction: column;
  gap: 14px;

  > span {
    @include font-base(white, 400, 16px, 19px);
    opacity: 60%;
  }
}

.credit_info {
  display: flex;
  align-items: center;
  gap: 4px;

  > span {
    @include font-base(white, 700, 24px, 26px);
    opacity: 87%;
  }
}

.charge {
  cursor: pointer;

  @include font-base($color-brand-orange, 700, 16px, 26px);
  letter-spacing: 5%;

  background: none;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    color: #e35852;
  }
}

@media (max-width: 1250px) {
  .container {
    margin-inline: 24px;
  }
}

@media (max-width: $width-tablet) {
  .container {
    margin: 0 24px 64px;
  }
}

@media (max-width: 550px) {
  .container {
    padding-inline: 40px;
  }
}

@media (max-width: $width-mobile) {
  .container {
    height: 87px;
    padding-inline: 20px;
    margin: 16px 24px 40px;
  }

  .credit {
    gap: 8px;

    > span {
      @include font-base(white, 400, 12px, 14px);
    }
  }

  .credit_info {
    > span {
      font-size: 20px;
    }
  }

  .charge {
    font-size: 13px;
  }
}
