@import '../../../../../styles/';

.tab {
  display: flex;
  height: 42px;

  button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $color-black-200;
    border: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.17px;
    color: $color-gray-warm;

    &.current {
      background-color: #ffffff1a;
      color: white;
      border-bottom: 1px solid white;
    }
    &:hover{
      background-color: $color-white-10-percent;
    }
  }
}
