@import '../../styles/';

.modalBackDrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modalView {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px 16px;
  background-color: $color-black-100;
  // 하기 두 값은 테스트 값이므로 삭제해도 무관
  // width: 96dvw;
  // height: 96dvh;
}
