@import '../../../../styles/';

.container {
  min-height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .content {
    @include font-base($color-white, 700, 16px, 20px);
  }
}
