@import '../../styles/';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: none;
  min-height: 100vh;
  padding-block-end: 20px;
}

.main {
  max-width: 1360px;
  margin: 0 auto;
}

.line {
  border-bottom: 1px solid $color-white;
  max-width: 90%;
  margin-inline: auto;
  margin-block: 50px;
  opacity: 0.1;
}
