@import '../../styles/';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
  height: 80px;
  background-color: $color-black-200; 

  /* 모바일 */
  @media (max-width: $width-mobile) {
    height: 44px;
  }
}

.contents {
  display: grid;
  grid-template:
    32px/
    24px 32px minmax(min-content, 484px) 168px minmax(min-content, 484px)
    32px 24px;

  /* 태블릿 */
  @media (max-width: $width-tablet) {
    grid-template:
      32px/
      24px 32px minmax(min-content, 484px) 120px minmax(min-content, 484px)
      32px 24px;
  }
  /* 모바일 */
  @media (max-width: $width-mobile) {
    grid-template:
      32px/
      24px 32px minmax(min-content, 484px) 108px minmax(min-content, 484px)
      32px 24px;
  }
}

.logo {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  svg {
    grid-column: 4/5;
    width: 100%;
    height: 32px;
    /* 태블릿 */
    @media (max-width: $width-tablet) {
      height: 23px;
    }
    /* 모바일 */
    @media (max-width: $width-mobile) {
      height: 21px;
    }
  }
}

.profile_img {
  grid-column: -2/-3;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
