@import '../../styles/';

.container {
  background-color: none;
}

.main {
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 243px;

  @media (max-width: $width-tablet) {
    padding-bottom: 330px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 59px;
  }
}
