@import '../../styles/';

.container {
  background-color: $color-black-200;
}

.main {
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 150px;

  @media (max-width: $width-tablet) {
    padding-bottom: 100px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 59px;
  }
}
