@import '../../../../../styles/';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 588px;
}

.idolInfo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.img {
  width: 70px;
  height: 70px;
}

.ranking {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: $color-brand-orange;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffffde;
}

.totalVotes {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff99;
}
