@import '../../../../../styles/';

$color-white-87-percent: #ffffffde;
$color-white-60-percent: #ffffff99;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 태블릿 */
  @media (max-width: $width-tablet) {
    width: 100%;
  }
  /* 모바일 */
  @media (max-width: $width-mobile) {
    width: 100%;
  }
}

.idol_info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.img {
  width: 70px;
  height: 70px;
}

.ranking {
  @include font-weight-size(400, 16px);
  line-height: 19px;
  color: $color-brand-orange;
}

.name {
  @include font-weight-size(500, 16px);
  line-height: 19px;
  color: $color-white-87-percent;
  /* 태블릿 */
  @media (max-width: $width-tablet) {
    @include font-weight-size(500, 14px);
  }
  /* 모바일 */
  @media (max-width: $width-mobile) {
    @include font-weight-size(500, 14px);
  }
}

.total_votes {
  @include font-weight-size(400, 16px);
  line-height: 19px;
  color: $color-white-60-percent;
  @media (max-width: $width-tablet) {
    @include font-weight-size(400, 14px);
  }
  /* 모바일 */
  @media (max-width: $width-mobile) {
    @include font-weight-size(400, 14px);
  }
}
