@import '../../../styles/';

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 633px;
  margin: 80px auto 0;

  /* 태블릿 */
  @media (max-width: $width-tablet) {
    max-width: 700px;
    min-height: 609px;
    margin: 60px auto 0;
  }
  /* 모바일 */
  @media (max-width: $width-mobile) {
    max-width: 327px;
    min-height: 599px;
    margin: 40px auto 0;
  }
}
@media (max-width: 1250px) {
  .container {
    margin-inline: 24px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 24px;

  h2 {
    @include font-weight-size(700, 24px);
    line-height: 26px;
    color: white;
    /* 태블릿 */
    @media (max-width: $width-tablet) {
      @include font-weight-size(700, 20px);
    }
    /* 모바일 */
    @media (max-width: $width-mobile) {
      @include font-weight-size(700, 16px);
    }
  }
  button {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
