@import '../../../styles/';

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 633px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 24px;

  h1 {
    @include font-weight-size(700,24px);
    line-height: 26px;
    color: white;
  }
  button {
    width: 128px;
  }
}

.chart {
  min-height: 418px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 51px;
}

.moreButton {
  text-align: center;
}
